body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 80px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 330px;
}
.d1{
    padding: 10px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px
}